<mat-card class="login-container">
  <mat-card-title>Divr</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card-content>
      <mat-form-field>
        <input matInput id="mail" type="email" placeholder="Email" formControlName="email" autofocus>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid"
        class="login-button">Login</button>
      <!--div class="register-container">
        <a class="register" routerLink="/register">Create Account</a>
      </div-->

    </mat-card-actions>
  </form>
      <div class="register-container">
        <button class="google" mat-raised-button (click)="loginGoogle()">Use Google</button>
      </div>
</mat-card>