.properties {
  grid-area: properties;
}

.dive-title {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 20px;

  &__button {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    flex-flow: wrap;
  }
}

.title {
  grid-area: title;
}

.chart {
  grid-area: chart;
}

.map {
  grid-area: map;
}

.map-card {
  height: 300px;
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    "title"
    "properties"
    "chart"
    "map";
}

.text_public {
  align-content: center;
  display: grid;
  font-size: 16px;
  color: greenyellow;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "properties map"
      "chart chart";
  }

  .properties-card {
    height: 300px;
  }
}
