<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="filterForm" (ngSubmit)="onFilter()" class="form">

      <div>
        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput type="text" formControlName="country">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Start date</mat-label>
          <input matInput [matDatepicker]="fromPicker" formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="toPicker" formControlName="toDate">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">Filter</button>
        <button mat-button color="secondary" onclick="reset()">Reset</button>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>