<div class="password-container">
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordChange()">
        <div class="password">

            <mat-form-field>
                <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="New Password" formControlName="newPassword">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Repeat New Password" formControlName="repeatNewPassword">
            </mat-form-field>
            <button mat-button type="submit" [disabled]="!passwordForm.valid">Change Password</button>

        </div>
    </form>
</div>